{% load static %}

<section class="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 order-lg-2">
          <img class="d-none d-lg-block" src="{% static 'base' %}/images/bg/01.jpg" alt="" />
          <img class="img-fluid d-block d-lg-none" src="{% static 'base' %}/images/bg/01.jpg" alt="" />
        </div>
        <div class="col-12 col-lg-6 order-lg-1 mb-5 position-relative">
          <div class="banner-content py-5 py-xl-6 me-lg-5">
            <h1 class="">Gülüşünüz İçin Özen.</h1>
            <p class="mb-5">Diş sağlığınız için modern çözümler.</p>
            <a class="btn btn-primary" href="#">FİYAT LİSTEMİZ</a>
            <div class="banner-img1 position-absolute top-0 left-0">
              <img class="img-fluid" src="{% static 'base' %}/images/svg/01.svg" alt="" />
            </div>
            <div class="banner-img2 position-absolute top-0 right-0">
              <img class="img-fluid" src="{% static 'base' %}/images/svg/02.svg" alt="" />
            </div>
            <div class="banner-img3 position-absolute bottom-0 left-0">
              <img class="img-fluid" src="{% static 'base' %}/images/svg/03.svg" alt="" />
            </div>
            <div class="banner-img4 position-absolute bottom-0 right-0">
              <img class="img-fluid" src="{% static 'base' %}/images/svg/04.svg" alt="" />
            </div>
            <div class="banner-img5 position-absolute">
              <img class="img-fluid" src="{% static 'base' %}/images/svg/05.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  