
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 pe-xl-5 space-pt space-pb left-half-light-bg bg-light">
        <div class="section-title left-divider">
          <h2>Sıkça sorulan sorular</h2>
        </div>
        <div class="accordion mb-xl-5" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="accordion-title mb-0"><button class="btn btn-link d-flex align-items-center me-auto" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">01. What does success look like to me?</button></h5>
            </div>
            <div id="collapseOne" class="collapse show accordion-content" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="mb-0">For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution of those plans and belief that you can achieve your desires.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingthree">
              <h5 class="accordion-title mb-0"><button class="btn btn-link d-flex align-items-center me-auto collapsed" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">02. What do I really want?</button></h5>
            </div>
            <div id="collapsethree" class="collapse accordion-content" aria-labelledby="headingthree" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="mb-0">Some people will tell you there are four while others may tell you there are eight. One thing for certain though, is that irrespective of the number of steps the experts talk about, they all originate from the same roots.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingfour">
              <h5 class="accordion-title mb-0"><button class="btn btn-link d-flex align-items-center me-auto collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">03. Can the particular activity be done later?</button></h5>
            </div>
            <div id="collapsefour" class="collapse accordion-content" aria-labelledby="headingfour" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="mb-0">Others call it a sense of entitlement. No matter what term you use, it’s basically the same thing. Either way, it’s governed by who you think you are and what circumstances you accept as appropriate for you. In other words, it all starts from who you are in your own mind.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingfive">
              <h5 class="accordion-title mb-0"><button class="btn btn-link d-flex align-items-center me-auto collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">04. Why is clarity so important?</button></h5>
            </div>
            <div id="collapsefive" class="collapse accordion-content" aria-labelledby="headingfive" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="mb-0">Achieving their dream doesn’t appear to have a lot to do with burning desire. Instead, it seems to be more a matter of what they can allow themselves to have. Some people call this a sense of deserving.</p>
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
