{% load static %}

<section class="mt-xl-n6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="owl-carousel testimonial" data-nav-arrow="false" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true" style="background-image: url(images/pattern.png);">
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="{% static 'base' %}/images/avatar/09.jpg" alt="" />
                </div>
                <div class="testimonial-content">I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she could really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!</div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Alice Williams</h6>
                    <span>- Mother.</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="{% static 'base' %}/images/avatar/04.jpg" alt="" />
                </div>
                <div class="testimonial-content">We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.</div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Felica Queen</h6>
                    <span>- Cancer client.</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="{% static 'base' %}/images/avatar/03.jpg" alt="" />
                </div>
                <div class="testimonial-content">We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars profits. It's the perfect solution for our business. I was amazed at the quality of Medileaf.</div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Paul Flavius</h6>
                    <span>- Heather.</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="{% static 'base' %}/images/avatar/05.jpg" alt="" />
                </div>
                <div class="testimonial-content">I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend Medileaf to EVERYONE interested in running a successful online business!</div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Harry Russell</h6>
                    <span>- Surgery client.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>