{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Medileaf - Health and Medical HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Medileaf - Health and Medical HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'base' %}/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/style.css" />
  </head>
  <body>
    {% include './header.html' %}
    {% block content %}
    {% endblock %}
    {% include './footer.html' %}
    <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
    <script src="{% static 'base' %}/js/jquery-3.6.0.min.js"></script>
    <script src="{% static 'base' %}/js/popper/popper.min.js"></script>
    <script src="{% static 'base' %}/js/bootstrap/bootstrap.min.js"></script>
    <script src="{% static 'base' %}/js/jquery.appear.js"></script>
    <script src="{% static 'base' %}/js/counter/jquery.countTo.js"></script>
    <script src="{% static 'base' %}/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="{% static 'base' %}/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'base' %}/js/custom.js"></script>
  </body>
</html>
