{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Medileaf - Health and Medical HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Medileaf - Health and Medical HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'base' %}/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="{% static 'base' %}/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    {% include './header.html' %}
    {% block content %}
    {% endblock %}
    {% include './footer.html' %}
    <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
    <script src="{% static 'base' %}/js/jquery-3.6.0.min.js"></script>
    <script src="{% static 'base' %}/js/popper/popper.min.js"></script>
    <script src="{% static 'base' %}/js/bootstrap/bootstrap.min.js"></script>
    <script src="{% static 'base' %}/js/jquery.appear.js"></script>
    <script src="{% static 'base' %}/js/counter/jquery.countTo.js"></script>
    <script src="{% static 'base' %}/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="{% static 'base' %}/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'base' %}/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/brands.min.js" integrity="sha512-ILOQokRQNF0S8SKV6fnaLNj02CmZnDWmYUr3zlH4jwToep0lWc7twuTzF+Mm0cKPdszi0xe8KymVi2y7mAweVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
