{% load static %}

<footer class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="widget widget_text">
            <div class="textwidget">
              <img src="{% static 'base' %}/images/logo-footer.png" alt="images" />
              <p>Lorem ipsum dolor sit amet, consectetur elit. Pellentesque quis nunc turpis. Phasellus ut aliquam nisl eleifend risus.</p>
            </div>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
          <div class="widget widget_text">
            <h5 class="widget-title">Contact us</h5>
            <div class="textwidget">
              <p>
                Adress: 151 Charlotte Street, London, UK.<br />
                Email: Admin@medicare.com<br />
                Phone: +89 123 456 789
              </p>
            </div>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-4">
          <div class="widget widget_text">
            <h5 class="widget-title">Working Hours</h5>
            <div class="textwidget">
              <p>
                Monday to Friday: 08:00 AM - 17:00 pm<br />
                Saturday: 09:00 AM - 15:00 pm<br />
                Sunday: Closed
              </p>
            </div>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.footer-widgets -->

  <!-- Go Top -->
  <a class="go-top style1"><i class="zmdi zmdi-long-arrow-up"></i></a>
</footer>
<!-- Bottom -->
<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>
            Copyright ©2016
            <a href="http://themeforest.net/user/vinawebsolutions" target="_blank">Vina Web Solutions Company.</a> All Rights Reserved.
          </p>
        </div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
