{% load static %}
{% load objects %}

{% get_contact_info as contact_info %}
{% get_doctor_info as doctor_info %}

<footer class="{{ footer_class }} footer position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a href="{% url 'home' %}" class="footer-logo"><img class="img-fluid" src="{{ doctor_info.logo.url }}" alt="" /></a>
        <p>{{ doctor_info.slogan }}</p>
        <div class="social-icon mt-3 mt-md-5">
          <ul>
            {% get_social_accounts as social_accounts %}
            {% for social_account in social_accounts %}
              <li>
                <a href="{{ social_account.link }}"><i class="{{ social_account.icon }}"></i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-0"></div>
      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <h6 class="text-primary">Sayfalar</h6>
        <div class="footer-useful-List">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'home' %}">Ana sayfa</a>
            </li>
            <li>
              <a href="{% url 'about' %}">Doktorumuz</a>
            </li>
            <li>
              <a href="{% url 'price-list' %}">Fiyat listesi</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">İletişim</a>
            </li>
          </ul>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'gallery' %}">Galeri</a>
            </li>
            <li>
              <a href="{% url 'faq' %}">S.S.S.</a>
            </li>
            <li>
              <a href="{% url 'video-reviews' %}">Mutlu müşteriler</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <h6 class="text-primary">İletişim bilgileri</h6>
        <div class="footer-contact-info">
          <ul class="list-unstyled mb-0">
            <li>
              <i class="fas fa-fw fa-map-marker-alt text-primary"></i>
              &nbsp;&nbsp;
              <span>{{ contact_info.address }}</span>
            </li>
            <li>
              <a href="tel:{{ contact_info.phone_number }}">
                <i class="fas fa-fw fa-phone-alt text-primary"></i>
                &nbsp;&nbsp;
                <span>{{ contact_info.phone_number_repr }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
    </div>
  </div>
</footer>
