{% load static %}

<header id="header" class="header style1 clearfix"> 
    <div class="header-inner">
        <div id="logo" class="logo">
            <a href="index-2.html" rel="home">
                <img src="{% static 'base' %}/images/logo.png" alt="image">
            </a>
        </div><!-- /.logo -->
        <div class="nav-wrap">
            <div class="btn-menu open"></div><!-- //mobile menu button -->
            <nav id="mainnav" class="mainnav">
                <ul class="menu"> 
                    <li class="home">
                        <a href="index-2.html">Home</a>
                        <ul class="submenu"> 
                            <li><a href="index-2.html">Home V.1</a>
                            </li>
                            <li><a href="index-3.html">Home V.2</a></li>
                            <li><a href="index-4.html">Home V.3</a></li>
                            <li><a href="index-animated.html">Home Animated</a></li>
                        </ul><!-- /.submenu -->
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#doctor">Doctor</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a>
                        <ul class="submenu"> 
                            <li><a href="portfolio-v1.html">Portfolio 1</a></li>
                            <li><a href="portfolio-v2.html">Portfolio 2</a></li>
                            <li><a href="portfolio-v3.html">Portfolio 3</a></li>
                            <li><a href="portfolio-v4.html">Portfolio 4</a></li>
                        </ul><!-- /.submenu -->
                    </li>
                    <li><a href="#appointment">appointment</a></li>
                    <li><a href="#blog">Blogs</a>
                        <ul class="submenu"> 
                            <li><a href="blog.html">Blogs </a></li>
                            <li><a href="blog-v1.html">Blogs 1 </a></li>
                            <li><a href="blog-single.html">Blogs Single</a></li>
                        </ul><!-- /.submenu -->
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul><!-- /.menu -->
            </nav><!-- /.mainnav -->
        </div><!-- /.nav-wrap -->
        <div class="language-wrap">
            <div class="btn-menu-active">
                <a href="#"><img src="{% static 'base' %}/images/icon/btn-menu-activet.png" alt="images"></a>
            </div>
            <ul class="language">
                <li class="current"><a href="#">en</a></li>
                <li><a href="#">fr</a></li>
            </ul>                    
        </div>
    </div>
</header>
