{% load static %}

<!-- Slider -->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
        <img src="{% static 'base' %}/images/slides/1.jpg" alt="slider-image" />

        <div class="tp-caption sfl flat-title-slider" data-x="15" data-y="276" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
          Achiteve Your <br /> Desired Perfect <br />Smile
        </div>

        <div class="tp-caption sfl flat-content-slider" data-x="15" data-y="580" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
          A full range of cosmetic dentistry treatment <br />to improve Your smile!
        </div>

        <div class="tp-caption sfl flat-button" data-x="15" data-y="682" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
          <a href="{% static 'base' %}/#">Appointment<i class="material-icons">edit</i></a>
        </div>

        <div class="tp-caption flat-scroll-btn animated bounce" data-x="585" data-y="953">
          <i class="icon-mouse icons"></i>
        </div>
      </li>

      <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
        <img src="{% static 'base' %}/images/slides/2.jpg" alt="slider-image" />

        <div class="tp-caption sfb flat-subtitle-slider" data-x="15" data-y="322" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">Improve Your</div>

        <div class="tp-caption sft flat-title-slider style1" data-x="15" data-y="382" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">DENTAL HEALTH</div>

        <div class="tp-caption sfl flat-content-slider style1" data-x="15" data-y="518" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">The Latest Trends In Esthetic Dental Care</div>

        <div class="tp-caption sfl flat-button" data-x="15" data-y="596" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut">
          <a href="{% static 'base' %}/#">Appointment<i class="material-icons">edit</i></a>
        </div>

        <div class="tp-caption flat-scroll-btn animated bounce" data-x="585" data-y="953">
          <i class="icon-mouse icons"></i>
        </div>
      </li>

      <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
        <img src="{% static 'base' %}/images/slides/3.jpg" alt="slider-image" />

        <div class="tp-caption sfl flat-subtitle-slider3" data-x="390" data-y="366" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">High Quality Of Dantal Care</div>

        <div class="tp-caption sfl flat-title-slider3" data-x="210" data-y="422" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
          Welcome to <span>Medicare</span>
        </div>

        <div class="tp-caption sfl flat-button border-white" data-x="400" data-y="603" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
          <a href="{% static 'base' %}/#">view detail<i class="material-icons">chevron_right</i></a>
        </div>

        <div class="tp-caption sfr flat-button border-white" data-x="589" data-y="603" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
          <a href="{% static 'base' %}/#">Appointment<i class="material-icons">edit</i></a>
        </div>

        <div class="tp-caption flat-scroll-btn animated bounce" data-x="585" data-y="953">
          <i class="icon-mouse icons"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
