{% load objects %}

<button id="waButton" class="wa-button btn btn-success text-white">
  <i class="fa-brands fa-whatsapp"></i>
</button>

<style>
  .wa-button {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: bounceIn 1s infinite 2s;
    z-index: 0;
  }
  
  @keyframes bounceIn {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    40% {
      transform: translateY(-10%);
    }
    60% {
      transform: translateY(-5%);
    }
  }
  
  .wa-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-success);
    border-radius: 100%;
    z-index: -1;
    animation: pulse 1s infinite;
    will-change: transform;
  }
  
  .wa-button:hover:before {
    animation: none;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
</style>


<script>
    $( "#waButton" ).on( "click", function( event ) {
      event.preventDefault();
      console.log('hello world')
  
      const text = encodeURIComponent(`Merhaba, implantclinic.com.tr web sitesinden size ulaşıyorum. Hizmetinizden yararlanmak istiyorum.`);
      {% get_contact_info as contact_info %}
      const whatsappUrl = `https://api.whatsapp.com/send?phone={{ contact_info.phone_number_wa }}&text=${text}`
      
      window.location.href = whatsappUrl
    });
  </script>
  